body {
    width: 100%;
    overflow-x: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#search-form {
    flex: 1;
    margin-top: 20px;
    width: 20%;
    height: 20px;
    float: right;
    margin-right: -50px;
}

#search-input {
    width: 150px;
    height: 20px;
    margin-bottom: 10px;
    border: teal solid 1px;
}

#add-search {
    background-color: teal;
    border-radius: 4px;
    border: grey solid 1px;
    margin: 5px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}

#buttons {
    margin-left: 20px;
}

#buttons button{
    background-color: teal;
    border-radius: 4px;
    border: grey solid 1px;
    margin: 5px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

#gifDisplay {
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
    width: 60%;
    flex: 2;
    padding: 10px;
}

#content{
  
    width: 80%;
}
.gif{
    border: 2px solid #cccccc;
    margin-right: 20px;
}
.title {
    padding: 10px 0px 10px ;
    margin-bottom: 5px;
}