body {
    width: 100%;
    overflow-x: hidden;
}

#search-form {
    flex: 1;
    margin-top: 20px;
    width: 20%;
    height: 20px;
    float: right;
    margin-right: -50px;
}

#search-input {
    width: 120px;
    margin-bottom: 10px;
    border: teal solid 1px;
}

#add-search {
    background-color: teal;
    border-radius: 4px;
    border: grey solid 1px;
    margin: 5px;
    color: white;

}

#buttons {
    margin-left: 20px;
}

#buttons button{
    background-color: teal;
    border-radius: 4px;
    border: grey solid 1px;
    margin: 5px;
    color: white;
}

#gifDisplay {
    margin: 10px;
    margin-left: 20px;
    margin-top: 30px;
    width: 60%;
    flex: 2;
    padding: 10px;
}

#content{
  
    width: 80%;
}